<% if list.completed %>
<tr class="table-secondary"  id="<%= dom_id list %>">
<td class="striker">
   <%= list.description %>

  </td>
  <td class="striker">
    <%= list.string %>
  </td>
<%else%>
<tr class="table-primary"  id="<%= dom_id list %>">
<td >
    <%= list.description %>
  </td>
  <td>
    <%= list.string %>
  </td>
<%end%>
  
  <td>
    <%= list.completed %>
  </td>
  <td class="d-flex justify-content-between">
    <%= link_to "Show this list", list, class: "btn btn-warning btn-sm" %>
    <%= link_to "Edit", edit_list_path(list), class: "btn btn-success btn-sm" %>
    <%= button_to "Delete", list, method: :delete, class: "btn btn-danger btn-sm", data: {confirm: "Are you sure?"} %>
  </td>
</tr>
